*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@media (max-aspect-ratio: 16/9) {
    .showcase video { 
        width:auto;
        height: 100%;
    }
}
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
}

.showcase video
{
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  opacity: 0.5;
  mix-blend-mode: overlay;
 
}
h2{
  font-size: 5em;
  font-weight: 800;
  color: #fff;

  line-height: 1em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.card{
    width: 200px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 25px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819-02.jpg/800px-The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819-02.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819-02.jpg/800px-The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819-02.jpg);
}
.card2{
    background-image: url(https://cdn.mos.cms.futurecdn.net/3upZx2gxxLpW7MBbnKYQLH-1200-80.jpg);
}
.card3{
    background-image: url(https://d2cbg94ubxgsnp.cloudfront.net/Pictures/480x270/7/9/6/504796_pia00135_orig_890496.jpg);
}
.card4{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Io_highest_resolution_true_color.jpg/1200px-Io_highest_resolution_true_color.jpg);
}
.card5{
    background-image: url(https://www.go-astronomy.com/images/observatories0.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
a {
    display: inline-block;
    height: 100%;
}
h3{
    color: #fff;
    position: relative;
    top: 60px;
    left: 30px;
    font-size: 20px;
    z-index: 1;
    font-family:'Times New Roman', Times, serif;

}
h5 {
    color:#fff;
}
p {
    color:#fff;
}
